.pokeheader {
    width: 100%;
}

.pokeheader__red {
    position: relative;
    background: linear-gradient(to bottom, rgb(255, 138, 138), rgb(255, 0, 0));    
    height: 50px;
}

.pokeheader__img {
    width: 220px;
    position: absolute;
    left: 10px;
    bottom: 0px;
}

.pokeheader__black {
    position: relative;
    background: linear-gradient(to bottom, rgb(2, 0, 0), rgb(71, 71, 71));
    height: 30px;
}

.pokeheader__outcircle {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background: linear-gradient(to bottom, rgb(2, 0, 0), rgb(71, 71, 71));
    border: 7px solid linear-gradient(to bottom, rgb(2, 0, 0), rgb(71, 71, 71));;
    border-radius: 50%;
    width: 80px;
    aspect-ratio: 1;
    z-index: 1000;
}

.pokeheader__incircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    width: 60px;
    aspect-ratio: 1;
}
.pokeheader__inincircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 7px solid black;
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
}