.pokefooter {
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: 250px;
  }
  
  .pokefooter__red {
    background: linear-gradient(to bottom, rgb(255, 138, 138), rgb(255, 0, 0));
    height: 50px;
  }
  
  .pokefooter__black {
    background: linear-gradient(to bottom, rgb(2, 0, 0), rgb(71, 71, 71));
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .pokefooter__outcircle {
    position: absolute;
    bottom: 0; 
    background: linear-gradient(to bottom, rgb(2, 0, 0), rgb(71, 71, 71));
    border: 2px solid rgb(2, 0, 0);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pokefooter__incircle {
    background: white;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokefooter__inincircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 7px solid black;
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
}