.pokehome{
    position: relative;
    height: 87.6vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pokehome__img{
    display: flex;
    max-width: 500px;
    padding-bottom: 30px;
}
.pokehome__hi{
    font-size: 50px;
    color: red;
    text-align: center
}
.pokehome__text{
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.pokehome__form{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.pokehome__in{
    min-width: 30%;
    padding: 10px;
    text-align: left;
    border: none;
    box-shadow: 0 0 5px;
    color: black;
    font-size: larger;
}
.pokehome__btn{
    padding: 10px 20px;
    background-color: red;
    border: 2px solid red;
    color: white;
}